/*Bootsrap CSS werden importiert*/
@import url('../css/bootstrap_styles/bootstrap.css');
    /*@import url('../css/bootstrap_styles/bootstrap.min.css'); */
@import url('../css/bootstrap_styles/bootstrap-responsive.css');
    /*@import url('../css/bootstrap_styles/bootstrap-responsive.min.css'); */
@import url('../css/bootstrap_styles/datepicker.css');
@import url('../css/bootstrap_styles/fullcalendar.css');
@import url('../css/bootstrap_styles/glyphicons.css');
@import url('../css/bootstrap_styles/jquery.gritter.css');
@import url('../css/bootstrap_styles/unicorn.grey.css');
    /*@import url('../css/bootstrap_styles/unicorn.blue.css'); */
    /*@import url('../css/bootstrap_styles/unicorn.red.css');  */
@import url('../css/bootstrap_styles/unicorn.login.css');
@import url('../css/bootstrap_styles/unicorn.main.css');
@import url('../css/bootstrap_styles/uniform.css');
@import url('../css/datatables_ajax/demo_page.css');
@import url('../css/datatables_ajax/demo_table.css');
@import url('../css/datepicker.css');
@import url('../css/timepicker.css');


/*custom css (bootstrap css werden überschrieben)/*



/*custom styles*/
#infoMessage {
    color: #ffffff;
    text-align: center;
}
/*
select[name=group] {
    margin-left: 20px;
    margin-top: 9px;

}*/
/*
select[name=active] {
    margin-left: 20px;
    margin-top: 9px;

}*/
/*
label[for=group] {
    margin-bottom: 13px;
}

label[for=active] {
    margin-bottom: 13px;
}

#new_user {
    margin-bottom: 1.5em;

}
/*change last list item in Mitglieder-Ansicht*/
tr.remove td:last-child {
    width: 37px;
}

/*Seite Mitglieder=> neues Mitglied */
#new_user a {
    color: white;
}

/* Meldungen*/
/*.alert-success {
    margin-left: 30px;
    width: 180px;
} */


/* Anpassung new_user_profil. Vorlage => unicorn.login css */
#loginbox_new_user {
    width: 400px;
    height: 550px;
    background: #F1F1F1;
    box-shadow: 0 0 4px #000000;
    border-radius: 7px;
    overflow: hidden !important;
    text-align: center;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    padding-top: 20px;
}

.control-label-new-profil, .controls-new-profil {
    margin-top: 1.8%;
    margin-left: 23%;
    margin-bottom: 0px;
    font-weight: bold;
    text-align: left;
}




#loginbox {
    height: 215px;
}


.form-actions {
    padding: 19px 20px ;
    /*margin-bottom: 20px;*/
    border: none;
    background-color: #F1F1F1;
    *zoom: 1;
}

#loginbox  form#loginform {
    background-color: #F1F1F1;
}

input[value=Recover] {
    margin-top: 20px;
}
button[type=submit] {
    margin-top: 5px;
}

/*Radio Buttons für create user und edit user*/
.radio input[type="radio"] {
    margin-top: 0;
    margin-left: -2px;

}

/*remember-checkbox login-seite*/
.remember input[type="checkbox"] {
    margin-top: -55px;
    margin-right: -135px;

}

.remember label[for=remember]  {
    margin-top: -50px;
    margin-right: -140px;
    font-size: 10px;
}


.dataTables_length {
    width: 99%;
    float: left;
    margin-top: -27px;
}

/*Suchfeld muss noch angepasst werden*/
div.dataTables_filter label {

    float: right;
    margin-top: -38px;
    margin-right: -97%;

}

div.dataTables_length label {
    float: left;
    text-align: left;
}

div.dataTables_length select {
    width: 75px;
}

div.dataTables_filter label {
    float: right;
}

div.dataTables_info {
    padding-top: 8px;
}

div.dataTables_paginate {
    float: right;
    margin-top: 13px;
    margin-right: -3px;
}

table.table {
    clear: both;
    margin-bottom: 6px !important;
    max-width: none !important;
}

table.table thead .sorting,
table.table thead .sorting_asc,
table.table thead .sorting_desc,
table.table thead .sorting_asc_disabled,
table.table thead .sorting_desc_disabled {
    cursor: pointer;
    *cursor: hand;
}







tr.even td.sorting_1 {
    background-color: rgba(234, 235, 255, 0);
}



.controls_saison {
    margin-left: 197px;
    padding-top: 6px;
    padding-bottom: 6px;
}

.controls_day {
    margin-left: 200px;
    padding-top: 10px;
}
.controls_day select:last-of-type  {
    margin-top: 10px;
}

.controls_spielstunden {
    margin-top: 20px;
    margin-left: 200px;
    margin-bottom: 10px;

}

.datepicker {
    width: 240px;
}

.bootstrap-timepicker-component {
    width: 223px;
}
#spielzeit2 {
    float: right;
}

/* Tabelle für Reservation*/
.reservation.table td {
    text-align: center;
    width: 132px;
    height: 70px;
    border-right: 1px dashed #dddddd;
    border-top: none;
    border-bottom: 1px dashed #dddddd;
    -webkit-border-radius: 24px 0;
    -moz-border-radius: 2em 0;

}









