/*Bootsrap CSS werden importiert*/
@import url('../css/bootstrap_styles/bootstrap.css');
    /*@import url('../css/bootstrap_styles/bootstrap.min.css'); */
@import url('../css/bootstrap_styles/bootstrap-responsive.css');
    /*@import url('../css/bootstrap_styles/bootstrap-responsive.min.css'); */
@import url('../css/bootstrap_styles/datepicker.css');
@import url('../css/bootstrap_styles/glyphicons.css');
@import url('../css/bootstrap_styles/jquery.gritter.css');
@import url('../css/bootstrap_styles/unicorn.grey.css');
    /*@import url('../css/bootstrap_styles/unicorn.blue.css'); */
    /*@import url('../css/bootstrap_styles/unicorn.red.css');  */
@import url('../css/bootstrap_styles/unicorn.login.css');
@import url('../css/bootstrap_styles/unicorn.main.css');
@import url('../css/bootstrap_styles/uniform.css');
@import url('../lib_ajaxCalendar/colorpicker/css/colorpicker.css');
@import url('../lib_ajaxCalendar/validation/css/validation.css');
@import url('../css/bootstrap_styles/colorpicker.css');
@import url('../css/ui-lightness/jquery-ui.css');
@import url('../css/datepicker.css');
@import url('../css/timepicker.css');
@import url('../css/bootstrap_styles/fullcalendar.css');


/*custom css (bootstrap css werden überschrieben)/*



/*custom styles*/
#infoMessage {
    color: #ffffff;
    text-align: center;
}
/*
select[name=group] {
    margin-left: 20px;
    margin-top: 9px;

}*/
/*
select[name=active] {
    margin-left: 20px;
    margin-top: 9px;

}*/
/*
label[for=group] {
    margin-bottom: 13px;
}

label[for=active] {
    margin-bottom: 13px;
}

#new_user {
    margin-bottom: 1.5em;

}
/*change last list item in Mitglieder-Ansicht*/

/*Seite Mitglieder=> neues Mitglied */
#new_user a {
    color: white;
}

/* Meldungen*/
/*.alert-success {
    margin-left: 30px;
    width: 180px;
} */


/* Anpassung new_user_profil. Vorlage => unicorn.login css */
#loginbox_new_user {
    width: 400px;
    height: 550px;
    background: #F1F1F1;
    box-shadow: 0 0 4px #000000;
    border-radius: 7px;
    overflow: hidden !important;
    text-align: center;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    padding-top: 20px;
}

.control-label-new-profil, .controls-new-profil {
    margin-top: 1.8%;
    margin-left: 23%;
    margin-bottom: 0px;
    font-weight: bold;
    text-align: left;
}




#loginbox {
    height: 215px;
}


.form-actions {
    padding: 19px 20px ;
    /*margin-bottom: 20px;*/
    border: none;
    background-color: #F9F9F9;
    *zoom: 1;
}

#loginbox  form#loginform {
    background-color: #F1F1F1;
}

input[value=Recover] {
    margin-top: 20px;
}
button[type=submit] {
    margin-top: 5px;
}

/*Radio Buttons für create user und edit user*/
.radio input[type="radio"] {
    margin-top: 0;
    margin-left: -2px;

}

/*remember-checkbox login-seite*/
.remember input[type="checkbox"] {
    margin-top: -55px;
    margin-right: -135px;

}

.remember label[for=remember]  {
    margin-top: -50px;
    margin-right: -140px;
    font-size: 10px;
}

input#permission_group {
    margin-right: 15px;
}



/*Reservation*/
.controls_saison {
    margin-left: 197px;
    padding-top: 6px;
    padding-bottom: 6px;
}

.controls_day {
    margin-left: 200px;
    padding-top: 10px;
}
.controls_day select:last-of-type  {
    margin-top: 10px;
}

.controls_spielstunden {
    margin-top: 20px;
    margin-left: 200px;
    margin-bottom: 10px;

}

.datepicker {
    width: 240px;
}

.bootstrap-timepicker-component {
    width: 223px;
}
#spielzeit2 {
    float: right;
}


.reservation.table {
    background-color: #F9F9F9;
    border-spacing:6px;

}

.reservation.table th {
   background-image: none;
   background-color:  #F9F9F9;
    font-size: 12px!important;
    font-weight: bold;

}



/* Tabelle für Reservation*/
.reservation.table td  {
    font-size: 13px;
    text-align: center;
    width: 100px !important;
    height: 35px !important;
    border-top: 1px dashed #CCCCCC;
    border-left: 1px dashed #CCCCCC;
    border-right: 1px dashed #CCCCCC;
    border-bottom: 1px dashed #CCCCCC;
    border-radius: 0px  0px
    11px;
    padding-top: 1%;
    padding-left: 0;
    padding-right: 0;
    line-height: 15px;

}

.reservation.table td:first-child   {
    font-size: 11px;
    font-weight: bold;
    border: none;
    border-radius:0;
    text-align: center;
}




td.free:hover {
    /*background-color:  #567BD2; */
    background-color: #5CB85C;
    color:white;
}

td.your_res:hover {
    background-color:  #F8980F;
    color:white;
}


td.free {
    background-color: white;
    color: #5CB85C;
}

td.notfree {
    background-color: white;
    color: #CCCCCC;
}

td.your_res {
    background-color: white;
    color: #F8980F;

}


/*Datatables boostrap 2.1*/

div.dataTables_length label {
    float: left;
    text-align: left;
}

div.dataTables_length select {
    width: 75px;
}

div.dataTables_filter label {
    float: right;
}

div.dataTables_info {
    padding-left: 30px;
    padding-top: 23px;
}

div.dataTables_paginate {
    float: right;
    margin-top: 20px;
    margin-right: -1px;
}

table.table {
    clear: both;
    margin-bottom: 6px !important;
    max-width: none !important;
}

table.table thead .sorting,
table.table thead .sorting_asc,
table.table thead .sorting_desc,
table.table thead .sorting_asc_disabled,
table.table thead .sorting_desc_disabled {
    cursor: pointer;
    *cursor: hand;
}

table.table thead .sorting { background: url('../media/datatables_ajax/img/sort_both.png') no-repeat center right; }
table.table thead .sorting_asc { background: url('../media/datatables_ajax/img/sort_asc.png') no-repeat center right; }
table.table thead .sorting_desc { background: url('../media/datatables_ajax/img/sort_desc.png') no-repeat center right; }

table.table thead .sorting_asc_disabled { background: url('../media/datatables_ajax/img/sort_asc_disabled.png') no-repeat center right; }
table.table thead .sorting_desc_disabled { background: url('../media/datatables_ajax/img/sort_desc_disabled.png') no-repeat center right; }

table.dataTable th:active {
    outline: none;
}

/* Scrolling */
div.dataTables_scrollHead table {
    margin-bottom: 0 !important;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

div.dataTables_scrollHead table thead tr:last-child th:first-child,
div.dataTables_scrollHead table thead tr:last-child td:first-child {
    border-bottom-left-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
}

div.dataTables_scrollBody table {
    border-top: none;
    margin-bottom: 0 !important;
}

div.dataTables_scrollBody tbody tr:first-child th,
div.dataTables_scrollBody tbody tr:first-child td {
    border-top: none;
}

div.dataTables_scrollFoot table {
    border-top: none;
}




/*
 * TableTools styles
 */
.table tbody tr.active td,
.table tbody tr.active th {
    background-color: #08C;
    color: white;
}

.table tbody tr.active:hover td,
.table tbody tr.active:hover th {
    background-color: #0075b0 !important;
}

.table-striped tbody tr.active:nth-child(odd) td,
.table-striped tbody tr.active:nth-child(odd) th {
    background-color: #017ebc;
}

table.DTTT_selectable tbody tr {
    cursor: pointer;
    *cursor: hand;
}

div.DTTT .btn {
    color: #333 !important;
    font-size: 12px;
}

div.DTTT .btn:hover {
    text-decoration: none !important;
}


ul.DTTT_dropdown.dropdown-menu a {
    color: #333 !important; /* needed only when demo_page.css is included */
}

ul.DTTT_dropdown.dropdown-menu li {
    position: relative;
}

ul.DTTT_dropdown.dropdown-menu li:hover a {
    background-color: #0088cc;
    color: white !important;
}

/* TableTools information display */
div.DTTT_print_info.modal {
    height: 150px;
    margin-top: -75px;
    text-align: center;
}

div.DTTT_print_info h6 {
    font-weight: normal;
    font-size: 28px;
    line-height: 28px;
    margin: 1em;
}

div.DTTT_print_info p {
    font-size: 14px;
    line-height: 20px;
}



/*
 * FixedColumns styles
 */
div.DTFC_LeftHeadWrapper table,
div.DTFC_LeftFootWrapper table,
table.DTFC_Cloned tr.even {
    background-color: white;
}

div.DTFC_LeftHeadWrapper table {
    margin-bottom: 0 !important;
    border-top-right-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
}

div.DTFC_LeftHeadWrapper table thead tr:last-child th:first-child,
div.DTFC_LeftHeadWrapper table thead tr:last-child td:first-child {
    border-bottom-left-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
}

div.DTFC_LeftBodyWrapper table {
    border-top: none;
    margin-bottom: 0 !important;
}

div.DTFC_LeftBodyWrapper tbody tr:first-child th,
div.DTFC_LeftBodyWrapper tbody tr:first-child td {
    border-top: none;
}

div.DTFC_LeftFootWrapper table {
    border-top: none;
}


/*Unicorn main Anpassungen*/

.dataTables_filter {
   margin: 0px;
    position: relative;

}

.dataTables_length {
    left: -6px;
    top: 1px;

}

.widget-box-mitglieder {

    /*border: 1px solid #CDCDCD;*/
    clear: both;
    margin-top: 30px;
    margin-bottom: 16px;
    position: relative;
}


.table-bordered {
    border: 1px solid #dddddd !important;

}


   /*ajax Calendar Anpassungen*/

form {
    margin-bottom: 0;
}

.help-block {
    font-size: 11px;
    color: #666;
}

.mr-10 {
    margin-right: 10px;
}

.box {
    margin-top: 80px;
    margin-left: -5px;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    -o-border-radius: 3px;
    -ms-border-radius: 3px;
    -khtml-border-radius: 3px;
    border: 1px solid #d5d5d5;
    box-shadow: 0 1px 0 rgba(0,0,0,0.11);
    margin-bottom: 3.0%;
}

.box:before, .box:after {
    content: "";
    display: table;
}

.box:after {
    clear: both;
}

.box .header {
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    -o-border-radius: 3px;
    -ms-border-radius: 3px;
    -khtml-border-radius: 3px;
    position: relative;
    background: url(../media/img/nav_bg.png) repeat;
    box-shadow: inset 0 1px 0 #fff, 0 1px 2px rgba(0,0,0,0.02);
}

.box .header h4 {
    position: relative;
    padding: 9px 0;
    padding-top: 8px;
    padding-left: 10px;
    border-bottom: 1px solid #c2c2c2;
    margin: 0;
    font-size: 13px;
    color: #444;
    line-height: 20px;
    height: 19px;
}

.box .content {
    padding: 0;
    margin: 0;
}

.content.pad {
    padding: 20px;
    background-color: #F9F9F9;
}

.box .content:before, .box .content:after {
    content: "";
    display: table;
}

.box .content:after {
    clear: both;
}

/* timepicker */
.bootstrap-timepicker.dropdown-menu {
    border-radius: 4px 4px 4px 4px;
    display: none;
    left: 0;
    margin-top: 1px;
    padding: 4px;
    top: 0;
}
.bootstrap-timepicker.dropdown-menu.open {
    display: inline-block;
}
.bootstrap-timepicker.dropdown-menu:before {
    border-bottom: 7px solid rgba(0, 0, 0, 0.2);
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    content: "";
    left: 6px;
    position: absolute;
    top: -7px;
}
.bootstrap-timepicker.dropdown-menu:after {
    border-bottom: 6px solid #FFFFFF;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    content: "";
    left: 7px;
    position: absolute;
    top: -6px;
}
.bootstrap-timepicker.modal {
    margin-left: -100px;
    margin-top: 0;
    top: 30%;
    width: 200px;
}
.bootstrap-timepicker.modal .modal-content {
    padding: 0;
}
.bootstrap-timepicker table {
    margin: 0;
    width: 100%;
}
.bootstrap-timepicker td, .bootstrap-timepicker th {
    border-radius: 4px 4px 4px 4px;
    height: 20px;
    text-align: center;
}
.bootstrap-timepicker td.separator {
    width: 1px;
}
.bootstrap-timepicker td a {
    border: 1px solid transparent;
    display: block;
    margin: 4px;
    padding: 4px 0;
}
.bootstrap-timepicker td a:hover {
    background-color: #EEEEEE;
    border-color: #DDDDDD;
    border-radius: 4px 4px 4px 4px;
}



#calendar .fc-content{

    font-size: 80%;
}


