/*Bootsrap CSS werden importiert*/
@import url('../css/bootstrap_styles/bootstrap.css');
    /*@import url('../css/bootstrap_styles/bootstrap.min.css'); */
@import url('../css/bootstrap_styles/bootstrap-responsive.css');
    /*@import url('../css/bootstrap_styles/bootstrap-responsive.min.css'); */
@import url('../css/bootstrap_styles/chosen.css');
@import url('../css/bootstrap_styles/datepicker.css');
@import url('../css/bootstrap_styles/fullcalendar.css');
@import url('../css/bootstrap_styles/glyphicons.css');
@import url('../css/bootstrap_styles/jquery.gritter.css');
@import url('../css/bootstrap_styles/unicorn.grey.css');
    /*@import url('../css/bootstrap_styles/unicorn.blue.css'); */
    /*@import url('../css/bootstrap_styles/unicorn.red.css');  */
@import url('../css/bootstrap_styles/unicorn.login.css');
@import url('../css/bootstrap_styles/unicorn.main.css');
@import url('../css/bootstrap_styles/uniform.css');

/*custom css (bootstrap css werden überschrieben)/*



/*custom styles*/
#infoMessage {
    color: #ffffff;
    text-align: center;
}

select[name=group] {
    margin-left: 20px;
    margin-top: 9px;

}

select[name=active] {
    margin-left: 20px;
    margin-top: 9px;

}

label[for=group] {
    margin-bottom: 13px;
}

label[for=active] {
    margin-bottom: 13px;
}

#new_user {
    margin-bottom: 1.5em;

}
/*change last list item in Mitglieder-Ansicht*/
tr.remove td:last-child {
    width: 37px;
}

/*Seite Mitglieder=> neues Mitglied */
#new_user a {
    color: white;
}

/* Meldungen*/
/*.alert-success {
    margin-left: 30px;
    width: 180px;
} */


/* Anpassung new_user_profil. Vorlage => unicorn.login css */
#loginbox_new_user {
    width: 400px;
    height: 620px;
    background: #ffffff;
    box-shadow: 0 0 4px #000000;
    border-radius: 7px;
    overflow: hidden !important;
    text-align: center;
    position: relative;
    margin-left: auto;
    margin-right: auto;
}